body {
    font-family: Arial, sans-serif;
    text-align: center; /* هذا سيقوم بتوسيط العناصر النصية والصور */
    color: #333;
    margin: 0; /* تأكد أن لا يوجد هوامش إضافية */
    padding: 20px; /* يمكن إضافة بعض البادئة لتبدو أفضل */
}

/* هذه القواعد خاصة بالصورة التي أعطيتها ID "my-top-image" في HTML */
#my-top-image {
    max-width: 100%; /* لضمان أنها لا تتجاوز عرض الشاشة */
    height: auto; /* للحفاظ على نسبة الأبعاد */
    display: block; /* لجعلها تتصرف كعنصر كتلة وتسمح بـ margin: auto */
    margin-left: auto; /* لتوسيطها أفقياً */
    margin-right: auto; /* لتوسيطها أفقياً */
    margin-bottom: 20px; /* إضافة مسافة أسفل الصورة */
}

h1 {
    color: #007bff;
}
